a {
  color: green;
}

i {
  color: red;
}

.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

.line {
  color: grey;
  text-decoration: underline;
}

b {
  color: purple;
}

.odd .line {
  color: blue;
}

.odd .i {
  text-decoration: underline;
}

.even b {
  text-decoration: underline;
}

a[href$='.com'] {
  color: black;
  text-decoration: underline;
}
